* {
    box-sizing: border-box;
}

.select-dir-modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.modal-content {
    background-color: white;
    width: 30%;
    margin-top: 3rem;
    
}

.modal-body li {
    list-style: none;
    &:hover {
        font-weight: bold;
        cursor: pointer;
    }
}