* {
    box-sizing: border-box;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.modal-content {
    background-color: white;
    width: 30%;
    height: 60%;
    overflow: scroll;
    margin-top: 3rem;
}

video {
    // height: 30.875rem;
    width: 70%;
    aspect-ratio: 16 / 9;
    background-color: black;
}